.Navbar{

    background-color: rgb(245, 152, 152);
    color: white;
    height: 40px;
    text-align: end; 
    padding-top: 15px;    
    border-radius: 8px;

}

.Navbar a{

    color: white;
    margin: 12px;
    text-decoration: none;


}