

.profile-img{

    height: 200px;
    width: 200px;

border-radius: 12px;
}
 .image{
    height: 200px;
    width: 200px;
  margin-left: 20px;
  border-radius: 100px;




}
.profile{

    display: flex;

    background-color: aliceblue;
    padding: 0px;
    flex-wrap: wrap;

}

.profile-content{
    /* margin: 5px 0px 0px 0px; */
    font-size: 20px
}